@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 !important;
    overflow: scroll;
}
#renderCanvas {
    overflow: scroll;
}
#infoBox {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 300px;
    padding: 16px;
    background: rgba(172, 188, 218, 0.63);
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    z-index: 10;
}

.hidden {
    display: none;
}

.hotspot {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: white;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

br{
    margin: 9px;
}

.logo{
    display: flex;
    margin-top: 2%;
}
h1{
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 3%;
    font-size: 70px;
    margin-left: 5%;
    margin-right: 1%;
}


img{
    width: 3%;
    margin-top: -2.3%;
}